<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr />

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "Preston_Hall.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>I am a software developer that is skilled at writing well-designed, testable and efficient code using current best practices in web development. I am a fast learner, hard worker and team player who is proficient in an array of multimedia web tools and scripting languages. I am looking for a great company that I will be able to grow and advance my career as a software developer.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
            >
              Work History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
            >
              Education
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#tech-skills"
            aria-expanded="false"
            aria-controller="tech-skills"
            >
              Tech Skills
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#skills"
            aria-expanded="false"
            aria-controller="skills"
            >
              Skills
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "USACAPOC.jpg", width: "100%", alt: "Job1 image" %>
                </div>
                <div class="col-md-9">
                  <stong>Civil Affairs Team Sergeant 2008-Present</stong>
                  <p>
                    It is imperative as a Civil Affairs Team Sergeant that I know how to work on a team and communicate effectively in a high stress environment. I have been a leader as well as a team member in various missions and understand the importance of trust and reliablility needed from everyone in the team.
                    </p>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "C21.png", width: "100%", alt: "Job1 image" %>
                </div>
                <div class="col-md-9">
                  <stong>Century 21 Everest Realty 2014-Present</stong>
                  <p>
                    - As a Realtor for Century 21, I understand the importance of following up and communication. Meeting deadlines, negotiating with buyers and sellers, and using strong problem solving skills is an essential skill needed in this type of work environment.
                    </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "bottegalogo.jpg", width: "100%", alt: "Tech School image" %>
                </div>
                <div class="col-md-9">
                  <stong>Bottega Technical School </stong>
                  <p>
                    2017
                    </p>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "WGU.png", width: "100%", alt: "School1 image" %>
                </div>
                <div class="col-md-9">
                  <stong>Western Governors University </stong>
                  <p>
                    B.S. Business Management  - 2014-2017 (In Progress)
                    </p>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "SLCC.jpg", width: "100%", alt: "School2 image" %>
                </div>
                <div class="col-md-9">
                  <stong>Salt Lake Community College </stong>
                  <p>
                    A.A.S. 2011-2013
                    </p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="tech-skills">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag "ruby.png", width: "60%", alt: "ruby image" %>
                </div>
                <div class="col-md-4 img_center">
                  <%= image_tag "rails.png", width: "50%", alt: "rails image" %>
                </div>
                <div class="col-md-4 img_center">
                  <%= image_tag "angular.png", width: "75%", alt: "angular image" %>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag "HTML5.png", width: "68%", alt: "HTML5 image" %>
                </div>
                <div class="col-md-4">
                  <%= image_tag "CSS3_logo.png", width: "50%", alt: "css image" %>
                </div>
                <div class="col-md-4">
                  <%= image_tag "javascript.png", width: "50%", alt: "JS image" %>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-6">
                  <%= image_tag "postgresql-logo.png", width: "100%", alt: "pg image" %>
                </div>
                <div class="col-md-4">
                  <%= image_tag "aws.jpg", width: "100%", alt: "aws image" %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="collapse" id="skills">
                <div class="skills">
                  <% @skills.each do |skill| %>
                    <div>
                      <p><%= skill.title %></p>
                      <div class="progress">
                        <div
                          class="progress-bar progress-bar-striped bg-success"
                          role="progressbar"
                          aria-valuenow="<%= skill.percent_utilized %>"
                          aria-valuemax="100"
                          style="width: <%= skill.percent_utilized %>%"
                        ></div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>

<!--  -->
